<div class="lds-circle spinner-center" *ngIf="loading"><div></div></div>
<div
  class="modal-backdrop show"
  [ngStyle]="{display: loading ? 'block' : 'none'}"
></div>
<div class="row" *ngIf="!loading">
  <div class="col p-0">
    <div class="card-header">
      <h3>About My Blog</h3>
    </div>
    <div class="card-body">
      <p class="card-text">{{ description }}</p>
    </div>
    <div class="card-footer mb-3">
      <em>author: Mazhitov keneshbek</em>
    </div>
    <a class="btn btn-primary" [routerLink]="['edit']">Edit Description</a>
  </div>
  <div class="col">
    <router-outlet></router-outlet>
  </div>
</div>
